<%= form_for @user, :html => {:class =>  "form-horizontal" } do | user | %>
  <div class="form-group">
    <%= user.label :username, :class => "control-label col-sm-2" %>
    <div class="col-sm-6">
      <%= user.text_field :username, :class => "form-control", :required => true %>
    </div>
  </div>
  
  <div class="form-group">
    <%= user.label :email, :class => "control-label col-sm-2" %>
    <div class="col-sm-6">
      <%= user.email_field :email, :class => "form-control", :required => true %>
    </div>
  </div>
  
  <div class="form-group">
    <%= user.label :password, :class => "control-label col-sm-2" %>
    <div class="col-sm-6">
      <%= user.password_field :password, :class => "form-control", :required => true %>
    </div>
  </div>
  
  <div class="form-group">
    <%= user.label :password_confirmation, :class => "control-label col-sm-2" %>
    <div class="col-sm-6">
      <%= user.password_field :password_confirmation, :class => "form-control", :required => true %>
    </div>
  </div>

  <% if action_name == "edit" %>
    <div class="form-group">
      <%= user.label :avatar, :class => "control-label col-sm-2" %>
      <div class="col-sm-6">
        <%= user.file_field :avatar, :class => "form-control", :required => true %>
      </div>
    </div>
  <% end %>
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-6">
      <%= user.submit action_name == "new" ? "Register" : "Submit" , class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
