<div class="col-sm-4">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag @user.avatar.url, :class => "avatar" if @user.avatar.present?%>
    </div>
    <div class="col-sm-6">
    <p><%= @user.username %></p> 
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <p>Tweets</p>
      <p><%= @user.total_tweet %></p>
    </div>
    <div class="col-sm-4">
      <p>Followers</p>
      <p><%= @user.total_followers %></p>
    </div>
    <div class="col-sm-4">
      <p>Following</p>
      <p><%= @user.total_following %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <% if action_name == "show" && controller_name =="user" %>
        <% if @is_follow.nil? %>
          <%= link_to "Follow this user", follows_path(:user_id => params[:id]), method: :post %>
        <% else %>
          <%= link_to "Unfollow", follow_path(:user_id => params[:id]), method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>  
</div>
